<!DOCTYPE html>
<html>
<head>
<title>Peter Bourgon's Wide World of Blog</title>
[[meta.template]]
[[head-links.template]]
</head>
</head>
<body>
<div class="c">

<h2><a href="/" title="Home">&uarr;</a> <span class="disabled" title="Archive">&larr;</span></h2>
<h1>Peter Bourgon <s>blag</s>blog</h1>

<table border="0">
{{#index}}
<tr>
	<td><p class="flat when">{{year}} {{month}} {{day}}</p></td>
	<td><p class="flat"><a href="/{{url}}">{{title}}</a></p></td>
</tr>
{{/index}}
</table>

</div>
</body>
</html>
