<!DOCTYPE html>
<html>
<head>
<title>Peter Bourgon's Wide World of Blog</title>
[[meta.template]]
[[head-links.template]]
[[ga.template]]
</head>
<body>
<div class="c">

[[header.template]]

<h1>My blog entries,</h1>
<h2 style="margin-top:-1em;">let me show you them.</h2>

<table>
{{#index}}
<tr>
	<td><p class="flat when"><a href="/{{url}}">{{year}} {{month}} {{day}}</a></p></td>
	<td><p class="flat"><a href="/{{url}}">{{title}}</a></p></td>
</tr>
{{/index}}
</table>

</div>
</body>
</html>
