<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Peter Bourgon's Wild World of Blog</title>
<link href="http://fonts.googleapis.com/css?family=Averia+Libre:300" rel="stylesheet" type="text/css" />
<link href="/css/typografie.css" rel="stylesheet" type="text/css" />
<link href="/css/fluid-grid.css" rel="stylesheet" type="text/css" />
<link href="/css/blog-entry.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container_12">

<div class="grid_2 left">
  <a href="/"><img src="/img/arrow-l.png" width=42 height=42 alt="Back" /></a>
</div>
<div class="grid_10">&nbsp;</div>
<div class="clear">&nbsp;</div>
<br/>

{{#index}}
<div class="grid_2 left"><span class="flat">{{year}} {{month}} {{day}}</span></div>
<div class="grid_10"><span class="flat"><a href="/{{url}}">{{title}}</a></span></div>
<div class="clear">&nbsp;</div>
{{/index}}

</div>
</body>
</html>
