<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
[[meta.template]]
[[head-links.template]]
[[ga.template]]
</head>
<body>
<div class="c">

[[header.template]]

<h1>{{title}}</h1>

<p class="when"><a href="/{{url}}">{{year}} {{month}} {{day}}</a></p>

{{{content}}}

</div>
</body>
</html>
