<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
[[meta.template]]
[[head-links.template]]
[[ga.template]]
</head>
<body>
<div class="c">

<h2><a href="/" title="Home">&uarr;</a> <a href="/blog/archive.html" title="Archive">&larr;</a></h2>
<h1>{{title}}</h1>

<p class="when">{{year}} {{month}} {{day}}</p>

{{{content}}}

</div>
</body>
</html>
