<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
[[meta.template]]
[[head-links.template]]
[[ga.template]]
</head>
<body>
<div class="c">

<h2><a href="/" title="Home">Home</a>,
    <a href="/blog/archive" title="Archive">archive</a>.</h2>
<h1>{{title}}</h1>

<p class="when"><a href="/{{url}}">{{year}} {{month}} {{day}}</a></p>

{{{content}}}

</div>
</body>
</html>
