<!DOCTYPE html>
<html>
<head>
<title>Peter Bourgon</title>
[[meta.template]]
[[head-links.template]]
[[ga.template]]
</head>
<body>
<div class="c">

<h1>Peter Bourgon</h1>

<a href="http://www.flickr.com/photos/peterbourgon/4726171556">
<img src="http://farm2.staticflickr.com/1149/4726171556_5a564d7409_o.gif" alt="Peter" width="400" height="158" />
</a>

<p>
Github <a href="http://github.com/peterbourgon">peterbourgon</a><br/>
Twitter <a href="http://twitter.com/peterbourgon">@peterbourgon</a><br/>
Flickr <a href="http://flickr.com/photos/peterbourgon">peterbourgon</a><br/>
SoundCloud <a href="http://soundcloud.com/peterbourgon">peterbourgon</a><br/>
&mdash;<br/>

You might be interested in<br/>
{{#links}} &bull; <a href="{{url}}">{{title}}</a>{{#new}} <span class="new">new!</span>{{/new}}<br/>
{{/links}}
</p>

</div>
</body>
</html>
