<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Peter Bourgon{{#title}} &gt; {{title}}{{/title}}</title>
<link href="http://fonts.googleapis.com/css?family=Averia+Libre:300" rel="stylesheet" type="text/css">
<style>
	body { margin: 0; font-family: "Courier New", monospace; }
	h1 { font: 300 24px/24px "Averia Libre", Georgia, serif; }
	p {	font: 300 16px/24px "Averia Libre", Georgia, serif; }
	p.date { color:#666; }
	#c { width: 33%; min-width: 300px; margin: 0 auto 0 20%; }
	a { text-decoration: none; }
	a:visited { color: #66a; }
	.new { color: #333; background-color: #fff568; padding: 0px 4px 0px 2px; font-style: italic; }
	pre { margin-left:20px; }
</style>
</head>
<body>
<div id="c">
<br/><br/><br/>

{{#date}}
<p class="date">{{date}}</p>
<br/>
{{/date}}

{{{markdown}}}

</div>
</body>
</html>
