/*
 * impress.js demo.css stuff
 */

.impress-enabled .step {
	opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1; }


body { margin: 0; font-family: "Courier New", monospace; }
h1 { font: 900 56px/24px "Lato", "Helvetica Neue", sans-serif; }
h2 { font: 400 40px/24px "Lato", "Helvetica Neue", sans-serif; }
h3 { font: 400 italic 34px/20px "Lato", "Helvetica Neue", sans-serif; }
p { font: 300 20px/24px "Averia Libre", Georgia, serif; }

#c { width: 95%; }

a { text-decoration: none; }
a:visited { color: #66a; }

.three-quarters { width: 75%; }
.two-thirds { width: 66%; }
.half { width: 50%; }
.quarter { width: 25%; }

.slide {
    min-width: 800px;
}

.slide + .code {
	height: 600px;
	width: 1000px;
}

.slide img {
    /* border: solid 1px #000; */
    margin: 0px auto;
    max-height: 700px;
    height: auto !important;
    height: 500px;
    max-width: 1000px;
    width: auto !important;
    width: 700px;
}
img {
	width: 300px;
	height: auto;
}

.visual h1, .visual h2, .visual h3, .visual p,
.code   h1, .code   h2, .code   h3, .code   p {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
}

.title h1 { font-size: 80px; }

.visual h1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.visual h2 {
	position: absolute;
	top: 70px;
	left: 0px;
}

.visual h3 {
	position: absolute;
	top: 135px;
	left: 0px;
}

.visual p {
	width: 75%;
	position: absolute;
	bottom: 15px;
	left: 0px;
	padding: 10px;
}

.code {

}

.code h1, .code h2, .code h3, .code p {
	-moz-box-shadow: -5px 5px 10px #888;
	-webkit-box-shadow: -5px 5px 10px #888;
	box-shadow: -5px 5px 10px #888;
}
.code h1 {
	position: absolute;
	top: 0px;
	right: 0;
	width: 45%;
	margin-top: 0;
	padding-bottom: 25px;
}
.code p {
	position: absolute;
	top: 40px;
	right: 0;
	width: 45%;
}
.code pre, .code textarea {
	font: 500 18pt/18pt "DejaVu Sans Mono", "Courier New", monospace;
	height: 500px;
	width: 100%;
	border: 0;
	overflow-x: visible;
	overflow-y: scroll;
}

textarea:focus {
	outline: none;
	border: none;
}

.code .output {
	position: relative;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px #ccc;
	font: 600 18pt/18pt "DejaVu Sans Mono", "Courier New", monospace;
	height: 100px;
	overflow-x: visible;
	overflow-y: scroll;
	white-space: pre;
}

.notes-overlay { position:fixed; bottom:10px; right:10px; width:50px; }
.notes-overlay a { color: #000; font: bold 12px "Helvetica"; text-transform: uppercase; border: solid 1px; padding: 2px; }
.notes-overlay a.visited { color: #000; }

.compile-overlay { position:fixed; bottom:66px; left:-25px; }
.compile-overlay a { color: #000; font: bold 18px "Helvetica"; text-transform: uppercase; padding: 2px; }
.compile-overlay a.visited { color: #000; }
