div :nth-child(2n)   { background-color: #ffc; }
div :nth-child(3n)   { background-color: #fcf; }
div :nth-child(4)    { background-color: #dea; }
div :nth-child(5n)   { background-color: #cff; }
div :nth-child(7n)   { background-color: #fcc; }
div :nth-child(11n)  { background-color: #ccf; }
div :nth-child(13n)  { background-color: #cfc; }
div :nth-child(17n)  { background-color: #dfc; }
div :nth-child(19n)  { background-color: #dcf; }
div :nth-child(23n)  { background-color: #fcd; }
div :nth-child(29n)  { background-color: #ccd; }
div :nth-child(31n)  { background-color: #dfa; }
div :nth-child(37n)  { background-color: #fad; }
div :nth-child(41n)  { background-color: #fdd; }
div :nth-child(43n)  { background-color: #ddf; }
div :nth-child(47n)  { background-color: #fdf; }
div :nth-child(53n)  { background-color: #afa; }
div :nth-child(59n)  { background-color: #cdc; }
div :nth-child(61n)  { background-color: #cef; }
div :nth-child(67n)  { background-color: #fed; }
div :nth-child(71n)  { background-color: #edf; }
div :nth-child(73n)  { background-color: #dfe; }