body {
	margin: 4em 0;
	font-family: "Courier New", monospace;
	background-color: #fdfdfd;
}

h1, h2, h3 { font-family: "Arvo", Palatino, serif; }
h1 { font: 400 24pt/28pt; margin: 1em 0; }
h2 { font: 400 20pt/28pt; }
h3 { font: 400 16pt/28pt; }

h3.date { margin-top: -1.5em; margin-bottom: 1.5em; }

p, ol, ul {
	color: #444;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

pre { margin-left: 2em; }
code { font-size: 12pt; }
p strong { font-weight: 500; }

p.header { font-style: italic; }
p.footer { font-style: italic; margin-top: -2.2em; }

a { text-decoration: none; }
a:visited { color: #66a; }
a:hover { text-decoration: underline; }

hr { margin: -1em 0 2em 0; width: 66%; }

.c { width: 55%; margin-left: 17%; min-width: 500px; }

.new {
	display: inline;
	color: #333;
	background-color: #fff568;
	padding: 0px 4px 0px 2px;
	font-style: italic;
}
