body {
	background-color: #eee;
	color: #111;
	font-family: serif;
	font-size: 14pt;
	line-height: 1.4em;
	margin-top: 3%;
	margin-bottom: 6%;
}

#c {
	min-width: 375px;
	max-width: 750px;
	margin: 0 8%;
}

h1, h2, h3, h4, h5, h6 { font-family: sans-serif; }
h1 { line-height: 1em; } /* fix wrapping titles */

code { font-size: 10pt; font-family: monospace; }
pre { margin: 0 4em 0 2em; padding: 1em; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; }

/* Go in Production */
td, th { padding: 0 10px; }
th { font-weight: bold; text-align: left; }

span.highlight {
	font-size: 10pt;
	background-color: yellow;
	font-style: italic;
	padding: 0px 3px;
}

a:visited { color: #66a; }
.lite { color: #ddd; text-decoration: none; } /* Permalink */

.onlyprint { display: none; }

table.cv { border-collapse: collapse; margin: 0; padding: 0; }
table.cv td { padding: 0 34px 0 0; vertical-align: top; }
table.cv .when { white-space: nowrap; }
table.cv .where { width: 99% }
table.cv .what { padding: 0 0 0 34px; }
