body {
	margin: 0;
	font-size: 14pt;
	font-family: serif;
	line-height: 1.6em;
	background-color: #fff;
	color: #000;
}

div#c {
	min-width: 20em;
	max-width: 40em;
	margin-top: 7%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 7%;
}

a:link {
	text-decoration: underline;
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

div#header * {
	margin: 0 0.25em 0 0;
}

div#header a {
	text-decoration: none;
	border-bottom: solid 1px #000;
}

img {
	margin: 1em 0 0 0;
}

pre {
	font-size: 11pt;
	line-height: 1.3em;
	margin: 1em;
	padding: 1em 0;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

code {
	font-size: 11pt;
	background-color: #eee;
}

pre>code {
	background-color: inherit;
}

h2 {
	font-style: italic;
}

h2 a:link,
h3 a:link {
	text-decoration: none;
}

.onlyprint {
	display: none;
}

/* Markdown tables */
th,
td {
	padding: 0 1em;
}

/* Go best practices */
.lite {
	color: #ddd;
	text-decoration: none;
	font-size: 14pt;
	font-family: sans-serif;
	font-variant: small-caps;
	font-style: italic;
}

.lite:visited {
	color: #ddd;
}

div.toptip {
	background-color: #ded;
	padding: 1em;
	margin: 1em;
}

div.toptip a {
	text-decoration: none;
}

table.plan {
	border-collapse: collapse;
}

table.plan td {
	padding: 0.5em;
}

table.plan tr {
	border-top: solid 1px #000;
}

table.plan td.year {
	text-align: right;
	vertical-align: top;
}

table.plan td.plan {
	min-width: 340px;
}

table.cv td.when {
	width: 20%;
}

table.cv td.where {
	width: 80%;
}
