
body { margin: 4em 0; font-family: "Courier New", monospace; }

h1 { font: 400 24px/24px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h2 { font: 400 20px/24px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h3 { font: 400 16px/24px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p, ol, ul { font: 300 16px/24px "Averia Libre", Georgia, serif; }
pre { margin-left: 2em; }

a { text-decoration: none; }
a:visited { color: #66a; }
a:hover { text-decoration:underline; }

table { border:0; }
tr { min-height:30px; vertical-align:top; }
td { margin: 0 20px 0 0; min-width:100px; }

.when { color:#aaa; }
.when a { color:#aaa; }
.when a:visited { color:#aaa; }

.disabled { color: #ccc; }
.end { color:#999; border-top:solid 1px #000; margin-top:4em; width:66%; }
.flat { line-height:16px; margin:0 inherit; }

.c { width: 55%; margin-left: 17%; }

.new {
	display: inline;
	color: #333;
	background-color:#fff568;
	padding:0px 4px 0px 2px;
	font-style:italic;
}
