
body { margin: 4em 0; font-family: "Courier New", monospace; }

h1, h2, h3 { font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 { font: 400 20pt/20pt }
h2 { font: 400 16pt/20pt }
h3 { font: 400 12pt/20pt }

p, ol, ul { font: 300 12pt/18pt "Averia Libre", Georgia, serif; }
p code { font-size: 10pt; }

pre { margin-left: 2em; }

a { text-decoration: none; }
a:visited { color: #66a; }
a:hover { text-decoration: underline; }
hr { margin: -1em 0 2em 0; width: 66%; }

table { border: 0; }
tr { min-height: 30px; vertical-align: top; }
td { margin: 0 20px 0 0; min-width: 100px; }

.when { font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.when { color: #aaa; margin-top: -1em; }
.when a { color: #aaa; }
.when a:visited { color:#aaa; }

.disabled { color: #ccc; }
.end { color: #999; border-top: solid 1px #000; margin-top: 4em; width: 66%; }
.flat { line-height: 12pt; margin: 0 inherit; }

.c { width: 55%; margin-left: 17%; }

.new {
	display: inline;
	color: #333;
	background-color: #fff568;
	padding: 0px 4px 0px 2px;
	font-style: italic;
}
