body { margin: 0; font-family: "Courier New", monospace; }
h1 { font: 300 24px/24px "Averia Libre", Georgia, serif; }
p { font: 300 16px/24px "Averia Libre", Georgia, serif; } 
#c { width: 66%; min-width: 500px; margin: 0 auto 0 auto; }
a { text-decoration: none; }
a:visited { color: #66a; }
.new { color: #333; background-color: #fff568; padding: 0px 4px 0px 2px; font-style: italic; }
